@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #8ed1fc;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #266296;
  padding: 10px 20px;
  position: relative;
}

.navbar .logo img {
  width: 122px;
  height: 45px;
  border-radius: 10px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  margin-left: 20px;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.navbar .nav-links li a:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
}

.navbar .nav-login {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-login li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.nav-login .loginbtn:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 30px;
}

.navbar .more-menu {
  position: relative;
}

.navbar .more-menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #266296;
  list-style: none;
  padding: 10px 0;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navbar .more-menu:hover .dropdown {
  display: block;
}

.navbar .dropdown li {
  padding: 10px;
}

.navbar .dropdown li a {
  color: white;
  padding: 8px 16px;
}

.navbar .dropdown li a:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .navbar .nav-links li:not(:first-child) {
    display: none; /* Hide all options except the first one (Home) */
  }

  .navbar .more-menu {
    display: block;
  }

  .navbar .nav-login {
    margin-top: 10px;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .navbar .nav-links li {
    display: flex; /* Show all options on larger screens */
  }

  .navbar .more-menu .dropdown {
    display: none;
  }

  .navbar .more-menu:hover .dropdown {
    display: none; /* Disable dropdown on larger screens */
  }
}
